
.dropbtn {
  background-color: #ff0000;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 14px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;}
p{
color: white;
align: center;
}


.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

