
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fffafa;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(127, 2, 2, 0.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  }
  
  
  .btn-6 {
  background: radial-gradient(circle, rgb(126, 3, 3) 0%, rgb(0, 0, 0) 100%);
    padding: 0%;
    border: none;
    text-shadow: none;


  }

  .btn-6:hover{
    color: #000000;
    box-shadow: none;
  }
 
