.g{
    text-align: center;
    margin-top: 70px;
    margin-left: -50px;
}
/* .game:hover{
    color: rgb(120, 9, 9);
    background-color:rgb(52, 3, 3);
    }

    .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-left: 220px;
    margin-bottom: 0px;
    margin-top: -47px;
   

    }
    .flex-container>div {
    margin: 1px;
    padding: 3px;
    padding-right:60px;
    margin-right: 40px;
    margin-bottom: 50px;
    }
    .card {
    max-width: 245px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    font-family: arial;
    border-style: double;
    border-color: rgb(153, 4, 4);
    margin-right: 100px;
    }
    .card-header-row {
    height: 100%;
    }
    .thumb {
    border-radius: 10px;
    }
  
    .center-screen {
    text-align: center;
    font-family: "Arial";
    font-size: 20px;
    } */

    html,
    body {
    
    
      margin: 0;
      padding: 0;
    }
    
    #cardcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
      }
      
      .gamecard {
        width: calc(33.33% - 20px); /* set width for each card */
        margin: 10px; /* set fixed margin between cards */
      }
      
      @media screen and (max-width: 768px) {
        .gamecard {
          width: calc(50% - 20px); /* adjust card width for smaller screens */
          margin: 10px; /* set fixed margin between cards */
        }
      }
      
      @media screen and (max-width: 480px) {
        .gamecard {
          width: calc(100% - 20px); /* adjust card width for smallest screens */
          margin: 10px; /* set fixed margin between cards */
        }
      }
      
    
    i {
      position: absolute;
      z-index: 1;
      color: white;
      width: 50px;
      height: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-25%, 0);
    }
    
    body,
    html {
      margin: 15px;
      padding: 0;
      background-color: #000;
    }
    
    .gamecard {
      position: relative;
      width: 15rem;
      height: 9rem;
      box-sizing: border-box;
      border-radius: 1rem;
      border: 1px solid rgb(255 255 255 / 30%);
      transition: 1s;
      cursor: pointer;
      margin: 5px;
    }
    
    .gamecard img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
    
    .gamecard .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 150px;
      background: linear-gradient(to bottom, transparent, black);
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 0;
      margin: 0;
      background-size: 100% 100%;
      border-radius: 1rem;
    }
    
    .gamecard .overlay p {
      color: white;
      margin: 0;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
    }
    
    .gamecard .overlay .bold {
      font-weight: bold;
      font-size: 14px;
    }
    
    p {
      padding: 0.7rem;
    }
    
    .gamecard:after {
      content: "";
      height: 70px;
      width: 1px;
      position: absolute;
      left: -1px;
      top: 65%;
      transition: top, opacity;
      transition-duration: 600ms;
      transition-timing-function: ease;
      background: linear-gradient(transparent, red, transparent);
      opacity: 0;
    }
    
    .gamecard:after {
      top: 65%;
      opacity: 0;
    }
    
    .gamecard:hover:after {
      top: 25%;
      opacity: 1;
    }
    
    .gamecard:hover {
      transform: scale(1.05);
      opacity: 1;
    }
    
    .play {
      opacity: 0;
    }
    
    .gamecard:hover > .play {
      opacity: 1;
    }
    