@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600;700&display=swap');



li, a, button {
    font-family: "Overpass", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    background-color: #111;
    text-decoration: none;
    background-color:rgba(0,0,0,0.1);;

}
.para{
    font-family: "Overpass", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    background-color: #111;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    margin-bottom: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #111;
    background-color:rgba(0,0,0,0.8);;

}

.logo {
    cursor: pointer;
    background-color:rgba(0,0,0,0.8);;

}

.nav__links {
    list-style: none;
    background-color:rgba(0,0,0,0.8);;

}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color:rgba(0,0,0,0.8);;

}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color:rgba(0,0,0,0.8);;

}

.nav__links li a:hover {
    color: #8B0000;
    background-color:rgba(0,0,0,0.8);;

}


ul.nav__links {
    background-color: #111;
    background-color:rgba(0,0,0,0.8);;

}

.logo {
    height: 60px;
    background-color:rgba(0,0,0,0.8);;
    padding-bottom: 1px;

}

button {
    padding: 9px 25px;
    background-color: rgba(139, 0, 0, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    background-color:rgba(0,0,0,0.8);;

}

button:hover {
    background-color: rgba(139, 0, 0, 0.8);
}

p {
    color: rgba(139, 0, 0, 0.8);
    font-size: x-large;
}
