@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #171717;
}

li, a {
    font-family: "Overpass", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    
}

.logo {
    cursor: pointer;
    height: 50px
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 15px;
}

.fas {
    transition: all 0.3s ease 0s;
}

.fas:hover {
    color: #9D1F1F !important;
}
.fab {
    transition: all 0.3s ease 0s;
}

.fab:hover {
    color: #9D1F1F !important;
}

header, nav, li, ul, a, .logo {
    background-color: #111;
}

.mis a {
    display: inline-block;
    padding: 0px 15px;
}
