body,
html
{
  margin: 0px;
}

.footer {
  height: 65px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 30px 10%;
  
  background-color: #111;
  bottom: 0;
margin-bottom: -100px;
  position: relative;
}

.copy {
  color: white;
}

